*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 font-size: 62,5%;
 font-family: 'Quicksand', sans-serif;
background: #9cecfb; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #9cecfb, #65c7f7, #0052d4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #9cecfb, #65c7f7, #0052d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.main{
  height: 100vh;

}

.title{
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: .3rem;
  color: white;
}



#author{
  font-size: 1rem;
 letter-spacing: .4rem;
 font-weight: 600;
}


#job{
  letter-spacing: .3rem;
  font-size: .6rem;
}
#info{
  padding: 1rem;
  background-color: rgb(247, 247, 247);
  border-radius: 30px;
  position: relative;
  
}


.quote{
  display: inline;
  color:#0051d4b6;
  font-size: 1.5rem;
  position: absolute;
  z-index: 20;
  transform: rotate(-20deg) translateY(-15px);

}
.buttons{
  
  font-size: 2rem;
  color: #0052d4;
  font-weight: bold;
}

#left,#right{
  margin: 1rem;
  cursor: pointer;
}